*{ margin:0; padding:0; list-style:none; text-decoration:none; font-size:1em; color:#636363; }
body{ font-family:"微软雅黑"; /*width:100%;*/ }
img{ border:0; }
table { border-collapse:collapse; border-spacing:0; } 
th,td { padding: 0; }
b{ font-weight:normal; }
i{ font-style:normal; }
img{ vertical-align:top; }
.clearfix:after{
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}
.clearfix{
    *zoom: 1;
}
.fl{ float:left;}
.fr{ float:right;}
body{ min-width:320px;}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],html input[disabled] {  cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {  border: 0;  padding: 0;}
input {  line-height: normal;}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {  border: 1px solid #c0c0c0;  margin: 0 2px;  padding: 0.35em 0.625em 0.75em;}
legend {  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {  overflow: auto;}
optgroup {  font-weight: bold;}

td,th {  padding: 0;}



table{border-collapse:collapse;border-spacing:0;}
img{border:0}
ul{list-style:none;}

input,textarea,select,option,button{font-family: "microsoft yahei";}
.clear{ clear:both;}
a{text-decoration:none;outline: none;}
a:hover{outline: none;}
input[type="button"],input[type="submit"],input[type="text"]{-webkit-appearance: none; border-radius: 0;}
input,label{-webkit-tap-highlight-color:rgba(255,0,0,0); }
a,button,textarea,select{-webkit-appearance: none;-webkit-tap-highlight-color:rgba(255,0,0,0); }/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */

textarea{resize:none;}/*禁止改变大小*/
/*解决firefox按钮文字难以垂直居中问题*/
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{
	border:none;padding:0;
}
input,textarea,select,option,button,form,fieldset{margin:0;padding:0;border-width:1px;outline:none;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-o-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
}
input{ letter-spacing: normal; word-spacing: normal;
}




        *,
        *:before,
        *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        [class*="radio-group-"],
        [class*="checkbox-group-"]{
            /*padding-left: 20px;*/
            /*margin-top: 20px;*/
           /* margin-bottom: 20px;*/
        }

        [class*="radio-group-"] > h3,
        [class*="checkbox-group-"] > h3 {
            margin-bottom: 10px;
        }

        .u-radio,
		.u-radioch,
		.u-radiopay,
        .u-checkbox,
		.u-checkbox01,
		.u-checkboxCh
		 {
            line-height: 24px;
        }
		

        .u-radio .icon,
		.u-radioch .icon,
		.u-radiopay .icon,
        .u-checkbox .icon,
		.u-checkbox01 .icon,
		.u-checkboxCh .icon
		 {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            position: relative;
            top: -2px;
            width: 1.3em;
            height: 3.3em;
            vertical-align: middle;
        }

		.u-checkbox01 .icon
		 {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            position: relative;
            top: -2px;
            width: 32px;
            height: 27px;
            vertical-align: middle;
        }
		


		.u-radiopay .icon
		 {
            display: inline-block;
            *zoom: 1;
            *display: inline;
            position: relative;
            top: -2px;
            width: 1.3em;
            height: 1.3em;
            vertical-align: middle;
        }
		
		
		/*单选*/
        .u-radio .icon {
            background:url(../img/defaultAddress-nor.png) left center no-repeat;
            -webkit-background-size: 1.1em;
            background-size: 1.1em; 
        }

        .u-radio.z-checked .icon {
            background-image:url(../img/defaultAddress-sel.png);
			background-size:1.1em;
        }
		
		.u-radio.z-checked b{ color:#f85a5a; }
		
		
        .u-radioch .icon {
            background:url(../img/select-nor.png) 0 2em no-repeat;
            -webkit-background-size: 1.1em;
            background-size: 1.1em; 
        }

        .u-radioch.z-checked .icon {
            background-image:url(../img/select-sel.png);
			background-size:1.1em;
        }



        .u-radiopay .icon {
            background:url(../img/select-nor.png) 0 .2em no-repeat;
            -webkit-background-size: 1.1em;
            background-size: 1.1em; 
        }

        .u-radiopay.z-checked .icon {
            background-image:url(../img/select-sel.png);
			background-size:1.1em;
        }



		/*复选*/
        .u-checkbox .icon {
            background:url(../img/defaultAddress-nor.png) center no-repeat;
            -webkit-background-size: 1.1em;
            background-size: 1.1em;
        }

        .u-checkbox.z-checked .icon {
            background-image:url(../img/defaultAddress-sel.png);
        }
		
		.u-checkbox.z-checked b{ color:#f85a5a; }

		
		
        .u-checkbox01 .icon {
            background:url(../img/collection-icon-nor.png) center no-repeat;
            -webkit-background-size: 1.8em;
            background-size: 1.8em;
        }

        .u-checkbox01.z-checked .icon {
            background-image:url(../img/collection-icon-sel.png);
        }
		


        .u-checkboxCh .icon {
            background:url(../img/select-nor.png) center .2em no-repeat;
            -webkit-background-size: 1.2em;
            background-size: 1.2em;
        }

        .u-checkboxCh.z-checked .icon {
            background-image:url(../img/select-sel.png);
			background-size:1.2em;
        }







